.dataGroup {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .dataSet {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    margin-bottom: 0.5rem;

    small {
      color: var(--gray-400);
    }
  }
}
