.container {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--gray-100);
  padding-top: 1rem;
  margin-top: 1rem;

  form {
    div {
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: column;
    }
  }
}
